@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* body {
  font-family:
} */



@layer utilities {

  .btn_white {
    @apply border-none bg-[#83CD20] text-[white] hover:bg-gray-50 hover:text-black focus:text-green-500
  }
  .btn_white_text {
    @apply border-2 border-white bg-white text-gray-900 hover:bg-gray-50 hover:border-gray-200 focus:ring-white
  }
  .btn_green {
    @apply border-2 border-green-50 bg-green-50 text-white hover:bg-green-100 hover:border-green-100 focus:ring-green-50
  }
  .btn_dark_green {
    @apply border-2 border-[#034833] bg-[#034833] text-white hover:bg-[#023025] hover:border-[#023025] hover:shadow-lg focus:ring-[#034833] shadow-md
  }
  .btn_dark_green_outline {
    @apply border-2 border-[#034833] bg-transparent text-[#034833] hover:bg-[#034833] hover:text-white focus:ring-[#034833]
  }

  .max-container {  
    @apply mx-auto max-w-[1440px];  
  }

  .padding-container {
    @apply px-6 lg:px-20 2xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400px] leading-[120%]; 
  }
  .regular-40 {
    @apply text-[40px] font-[400px] leading-[120%];
  }
  .regular-32 {
    @apply text-[32px] font-[400px]
  }
  .regular-24 {
    @apply text-[24px] font-[400px]
  }
  .regular-20 {
    @apply text-[20px] font-[400px]
  }
  .regular-18 {
    @apply text-[18px] font-[400px];
  }

  .regular-16 {
    @apply text-[16px] font-[400px];
  }

  .regular-14 {
    @apply text-[14px] font-[400px];
  }

  .medium-14 {
    @apply text-[14px] font-[600px];
  }

  .bold-88 {
    @apply text-[88px] font-[700px] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700px] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700px] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700px] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700px] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700px];
  }

  .bold-18 {
    @apply text-[18px] font-[700px];
  }

  .bold-16 {
    @apply text-[16px] font-[700px];
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}